In [18]:
import pandas as pd

In [35]:
df=pd.read_csv('D:/kenneth/models/process/sp500/data/^GSPC/^GSPC_7_days_0_return.csv', index_col=0, parse_dates=True)

In [36]:
df.shape

(14158, 1466)

In [37]:
df.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,^GSPC_3d,^GSPC_3d_target,^GSPC_4d,^GSPC_4d_target,^GSPC_5d,^GSPC_5d_target,^GSPC_6d,^GSPC_6d_target,^GSPC_7d,^GSPC_7d_target
1970-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.003978,0.0,-0.003441,0.0,-0.006452,0.0,-0.013978,0.0,-0.011613,0.0
1970-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.008346,0.0,-0.011342,0.0,-0.018832,0.0,-0.016478,0.0,-0.019367,0.0
1970-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.004525,0.0,-0.012066,0.0,-0.009696,0.0,-0.012605,0.0,-0.012282,0.0
1970-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.010040,0.0,-0.007665,0.0,-0.010580,0.0,-0.010256,0.0,-0.018461,0.0
1970-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.008200,0.0,-0.011114,0.0,-0.010790,0.0,-0.018990,0.0,-0.032693,0.0

In [31]:
df.tail()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,^GSPC_3d,^GSPC_3d_target,^GSPC_4d,^GSPC_4d_target,^GSPC_5d,^GSPC_5d_target,^GSPC_6d,^GSPC_6d_target,^GSPC_7d,^GSPC_7d_target
2020-01-15,88.62,27.58,150.21,311.34,89.26,91.37,177.92,87.38,207.26,342.94,...,0.008367,1.0,0.012261,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-15,88.62,27.58,150.21,311.34,89.26,91.37,177.92,87.38,207.26,342.94,...,0.012261,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-15,88.62,27.58,150.21,311.34,89.26,91.37,177.92,87.38,207.26,342.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-16,89.46,28.23,151.94,315.24,89.26,91.46,181.44,88.28,208.98,345.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-17,90.11,28.40,151.05,318.73,88.00,91.06,181.28,89.00,209.20,349.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df=df.loc[~df.index.duplicated(keep='first')]

In [39]:
df.shape

(12625, 1466)

In [23]:
df=df.index.drop_duplicates(keep='first')

In [24]:
df.shape

(12625,)

In [11]:
df=pd.read_csv('D:/kenneth/models/data/sp500/prices/adjclose.csv', index_col=0, parse_dates=True)

In [25]:
df.shape

(12625,)

In [27]:
df

DatetimeIndex(['1970-01-02', '1970-01-05', '1970-01-06', '1970-01-07',
               '1970-01-08', '1970-01-09', '1970-01-12', '1970-01-13',
               '1970-01-14', '1970-01-15',
               ...
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17'],
              dtype='datetime64[ns]', length=12625, freq=None)

In [14]:
df.tail()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,^GSPC,^IXIC,^NDX,^SOX,^TNX,^VIX,^VVIX,^VXN,^VXO,^VXV
2020-01-13,87.46,27.39,145.26,316.96,87.34,86.15,168.10,84.76,208.78,345.63,...,3288.13,9273.93,9070.65,1890.79,1.85,12.32,88.48,15.57,11.72,14.64
2020-01-14,87.99,27.53,148.90,312.68,88.20,88.83,172.73,85.74,206.93,344.63,...,3283.15,9251.33,9033.42,1894.64,1.82,12.39,86.87,15.83,12.46,14.64
2020-01-15,88.62,27.58,150.21,311.34,89.26,91.37,177.92,87.38,207.26,342.94,...,3289.29,9258.70,9035.67,1872.16,1.79,12.42,91.15,15.54,12.04,14.63
2020-01-16,89.46,28.23,151.94,315.24,89.26,91.46,181.44,88.28,208.98,345.38,...,3316.81,9357.13,9125.00,1903.93,1.81,12.32,90.38,14.95,11.92,14.45
2020-01-17,90.11,28.40,151.05,318.73,88.00,91.06,181.28,89.00,209.20,349.74,...,3329.62,9388.94,9173.73,1916.62,1.84,12.10,91.75,14.97,11.59,NaN

In [15]:
df.index

DatetimeIndex(['1970-01-02', '1970-01-05', '1970-01-06', '1970-01-07',
               '1970-01-08', '1970-01-09', '1970-01-12', '1970-01-13',
               '1970-01-14', '1970-01-15',
               ...
               '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09',
               '2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17'],
              dtype='datetime64[ns]', length=12625, freq=None)

In [16]:
df=pd.read_csv('D:/kenneth/models/process/sp500/data/^GSPC/^GSPC_7_days_0_return.csv', index_col=0, parse_dates=True)

In [17]:
df.shape

(12613, 1467)